

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yellowtail&display=swap');


*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.inicio {
    /*background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("img/fondo.jpg");*/
    background-size: cover;
    background-position: center center;
    color: #fff;
    background: rgb(4, 0, 36);
    background: rgb(53 195 247);
    background: radial-gradient(circle, rgb(124 204 243) 0%, rgb(13 70 145) 100%);
}
i.fa-brands.fa-linkedin {
    filter: hue-rotate(306deg);
    zoom: 1.4;
    padding-top: 7px;
}
.inicio .contenido-seccion{

    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio .contenido-seccion header{
    padding: 30px;
}
label.hamburger {
    cursor: pointer;
}

.inicio .contenido-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #4eb5e9;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}
.inicio .contenido-seccion header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}
.inicio .contenido-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "yellowtail";
    text-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion header .logo .color{
    color: #8ce9fe;
    font-family: "yellowtail"
}
.inicio .contenido-seccion header .nav-bar{
    position: fixed;
    background-color: #7bcbf3;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
    z-index: 11;
}
.inicio .contenido-seccion header .nav-bar:hover{
    box-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion .info{
    padding-bottom: 130px;
}
.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}
.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}
.inicio .contenido-seccion .info .redes{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #2f8590;
    border: 1px solid #8ce9fec2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
    cursor: pointer;
}
.inicio .contenido-seccion .info .redes:hover {
    border-color: #18adcf;
    box-shadow: 0px 0px 8px 0px white;
}
.inicio .contenido-seccion .foto{
    position: relative;

}
.inicio .contenido-seccion .foto img{
    max-width: 200px;
    border-radius: 50%;
    border: 7px solid #8ce9fe70;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}
.titulo-seccion{
    font-family: "Yellowtail";
    font-size: 2.5rem;
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .nav {
    display: flex;
}
.sobremi{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
    color: #3c3a3a;
}
.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.sobremi .contenido-seccion .especial{
    
    font-weight: bold;
    margin-top: 15px;
}
.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
}
.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    @media (max-width: 1250px) {
        display: block;
      }
}
.sobremi .contenido-seccion .fila .col{
    width: 30%;
    @media (max-width: 1250px) {
        width: 100%;
      }
}
.sobremi .contenido-seccion .fila .col i{
    color: #34a1d7;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #7bcbf3;
    line-height: 40px;
    border-radius: 50%;
   
}

.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}
.habilidades{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(90deg, rgb(11 73 155 / 95%) 0%, rgb(25 103 210 / 71%) 32%, rgba(0, 212, 255, 0.4416141456582633) 100%);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}
.habilidades .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.habilidades .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.habilidades .contenido-seccion .fila{
    display: flex;
    justify-content: center;
    column-gap: 35px;
    padding-top: 45px;
    @media (max-width: 1250px) {
        display: block;
      }
}
.habilidades .contenido-seccion .fila .col{
    width: 47%;
    text-align: left;
    @media (max-width: 1250px) {
        width: 100%;
      }
}
.habilidades .contenido-seccion .fila .col .cont-barra{
    display: flex;
    align-items: center;
    justify-content: center;
}
.resumen{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
    color: #3c3a3a;
}
.resumen .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.resumen .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.resumen .contenido-seccion .info{
    text-align: left;
    display: flex ;
    justify-content: space-between;
    margin-top: 30px;
    @media (max-width: 1250px) {
        display: block ;
      }
}
.resumen .contenido-seccion .info .col{
    width: 45%;
    @media (max-width: 1250px) {
        width: 100%;
      }

}
.resumen .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: #114b99;
    font-weight: bold;
    border: 2px solid #7bcbf3;
    padding: 10px;
}
.resumen .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 3rem;
}
.resumen .contenido-seccion .info .col table .datos{
    width: 50%;
    border-bottom: 1px solid #bab9b9;
}
.resumen .contenido-seccion .info .col table h4{
     margin-top: 10px;
}
.resumen .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.resumen .contenido-seccion .info .col table p{
    font-size: 14px;
}
.resumen .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left:20px ;
}

.contacto{
    background-color: #202020 ;
    padding: 140px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
    @media (max-width: 1250px) {
        display: block;
      }
}
.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
    color: #7bcbf3;
}
.video {
    width: 100%;
}

iframe {
    width: 100%;
}






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

.box {
    position: relative;
    width: 240px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
    margin-bottom: 28px;
  }
  

  
  
  .box .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
    border-radius: 11px;
    cursor: pointer;
  }
  
 
  .title-ability p {
    font-size: 20px;
    position: relative;
    top: -10px;
    color: #555555;
    text-transform: capitalize;
}
  
  
  
  .box .content {
    position: relative;
    width: 100%;
    height: 100%;
   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box .content .percent {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .box .content .percent::before {
    content: attr(data-text);
    position: absolute;
    inset: 20px;
    background: #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  
  .box .content .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
  }
  
  .box .content .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke: rgba(0,0,0,0.05);
    transform: translate(5px, 5px);
  }
  
  .box .content .percent svg circle:nth-child(2) {
    stroke: #555;
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .box .content .percent .dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 1s linear forwards;
    
  }
  
  @keyframes animateDot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(calc(3.6deg * var(--num)));
    }
  }
  
  .box .content .percent .dot::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    background: #555;
    border-radius: 50%;
  }
  
  .box .content .number {
    position: relative;
    inset: 0;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  .box .content .number h2 {
    font-size: 2.5rem;
    color: #555;
  }
  
  .box .content .number h2 span {
    font-weight: 300;
    font-size: 1.5rem;
  }